---
import "@fontsource/noto-sans-sc";
import "@fontsource-variable/noto-sans-sc";
import "@fontsource/inter";
import "@fontsource-variable/inter";
import "@fontsource/fira-code";
import "@fontsource-variable/fira-code";
import "@/styles/global.css";
import Navigation from "@/components/Navigation.astro";

import InfoCard from "@/assets/info-card.png";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title?: string;
  htmlClass?: string;
  bodyClass?: string;
}

const { title = "极速蜗牛的博客", htmlClass, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="zh-CN" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head">
      <meta property="og:title" content={title} />
      <meta property="og:image" content={InfoCard.src} />
    </slot>
    <ClientRouter />
  </head>
  <body class={bodyClass}>
    <Navigation />
    <slot />
    <div class="footer">
      <a href="https://icp.gov.moe/?keyword=20249945" target="_blank"
        >萌ICP备20249945号</a
      >
    </div>
    <style>
      .h-full {
        height: 100%;
      }

      .footer {
        display: flex;
        margin: 50px 0 100px;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #dee2e6;
        padding: 10px;
      }
    </style>
  </body>
</html>
