---
import "@fontsource/fira-code";
import "@/styles/global.css";
import Navigation from "@/components/Navigation.astro";

import InfoCard from "@/assets/info-card.png";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  htmlClass?: string;
  bodyClass?: string;
}

const { title, htmlClass, bodyClass } = Astro.props as Props;
---

<!doctype html>
<html lang="zh-CN" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head">
      <meta property="og:title" content={title} />
      <meta property="og:image" content={InfoCard.src} />
    </slot>
    <ViewTransitions />
  </head>
  <body class={bodyClass}>
    <Navigation />
    <slot />
    <style>
      .h-full {
        height: 100%;
      }
    </style>
  </body>
</html>
