---
import "@fontsource/fira-code";
import "@fontsource/source-sans-3";
import "@fontsource-variable/source-sans-3";
import "@fontsource/source-serif-4";
import "@fontsource-variable/source-serif-4";
import "@fontsource/noto-serif-sc/chinese-simplified.css";
import "@/styles/global.css";
import Navigation from "@/components/Navigation.astro";

import InfoCard from "@/assets/info-card.png";

export interface Props {
  title: string;
  htmlClass?: string;
  bodyClass?: string;
}

const { title, htmlClass, bodyClass } = Astro.props as Props;
---

<!doctype html>
<html lang="zh-CN" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head">
      <meta property="og:title" content={title} />
      <meta property="og:image" content={InfoCard.src} />
    </slot>
  </head>
  <body class={bodyClass}>
    <Navigation />
    <slot />
  </body>
</html>

<style>
  .h-full {
    height: 100%;
  }
</style>
